<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2023-2024 Chartboost, Inc.
  
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chartboost.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" />

</manifest>
